@import '@automattic/typography/styles/variables';

.map-domain-step {
	.map-domain-step__heading {
		font-size: $font-title-medium;
		font-weight: 500; /* stylelint-disable-line */
	}

	.map-domain-step__change_mode_link {
		cursor: pointer;
	}
}

